<%= form_for(@favorite) do |f| %>
   <%= hidden_field_tag "post_id", post.id %>
    <% if user_signed_in? %>
    <%= hidden_field_tag "user_id", current_user.id %>
    <% end %>
    <span class="text-muted"></span>
      <% if user_signed_in? %>
        <% if post.favorites.where(:user_id=>current_user.id).count > 0 %>
          <button class="btn btn-link" role="link" type="submit" value="">
          <%=post.favorites.count%>&nbsp;<i class="fa fa-heart text-danger"></i>
          </button>
        <% else %>
          <button class="btn btn-link" role="link" type="submit" value="">
          <%=post.favorites.count%>&nbsp;<i class="fa fa-heart text-muted"></i>
          </button>
        <%end%>
      <% else %>
        <a href="#loginModal" data-toggle="modal", class ="btn btn-link">
        <%=post.favorites.count%>&nbsp;<i id="sign_in" class="fa fa-heart text-muted"></i>
        </a>
      <% end %>
    
    




<% end %>