<div class="modal fade" id="newShotModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Post a happyshot</h4>
      </div>
      <%= bootstrap_form_for(@post) do |f| %>
      <div class="modal-body">
        <a href="https://www.youtube.com/watch?v=RF6LPwmBjJ0" target="_blank">Need help?</a><hr/>
        Interval:
         <div>
         <select name="interval" id="interval" class="form-control">
          <option value=".1">1 second</option>
          <option value=".25">2 seconds</option>
          <option value=".35">3 seconds</option>
          <option value=".45">4 seconds</option>
          <option value="1">5 seconds</option>
          <option value="2">6 seconds</option>
        </select>
      </div>
        <br/>
         <span class="options-button-group">
            <button type="button" id="create-gif" class="btn btn-large btn-warning create-gif-button">Preview Webcam animation</button>
            <button type="button" id="create-gifVideo" class="btn btn-large btn-primary create-gif-button">Preview Video animation</button>
          </span>
        </hr>
        <br/>
          <div class="form-group">
         <span id= "atch_notify" class="label label-info"></span><br/>
         <span id= "notify" class="label label-info"></span>
         <br/>
          <div id="attachedVideo">
            <%= f.attachment_field :video, direct: true, class: "btn btn-default"%>
            </div>
        </div>

          <br/>
          <div id="video_id" class="hidden"></div>

                  
        <div class="placeholder-div hidden">
          <span class="placeholder-div-dimensions"></span>
        </div>
        <br/>
        <progress max="1" value="0" class="gifshot-progress-bar hidden"></progress>
        <div class="fileinput fileinput-new" data-provides="fileinput">
        <div id="gif-preview" class="gifshot-image-preview-section thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;"></div>
        <mark> To reset the gif click on the "Preview Webcam/video animation" button again</mark>
        <br/>
        
      <br/>
        <div>
         <%= f.text_area :note, id: 'notearea', class: 'input-medium', hide_label: 'true', placeholder: 'Say something', required: 'true', :maxlength => 130%>
          <div id="textarea_feedback"></div>
        </div>
        
       

      </div>

        <% if user_signed_in? %>
         <%= f.text_area :image, :class=>"gifshot-image-preview-section hidden", :id=>"gifData", hide_label: 'true' %>
         <%= f.hidden_field :publish, :value => true %>
         <%= f.hidden_field :user_id, :value => current_user.id %>
        <%end%>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit :class=>"btn btn-primary", :id=>"post_submit" %>
      </div>
      <% end %>

      
      <script>
         $("#gif-preview").bind("DOMSubtreeModified", function() {
                 var a=document.querySelector('.gifshot-image-preview-section').innerHTML;
             var b=$(a).attr('src');
            document.getElementById("gifData").value=b;
          // }
          });
      </script>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>



</script>

