
<div class="post" id="post<%=post.id%>">
	<hr/>
	<div class="detailBox span6">
		<div class="actionBox">
			<ul class="commentList" >
				<li>
					<div class="commenterImage">
						<img src="http://lorempixel.com/50/50/people/<%=user_avatar(post.user)%>" />
						
						
					</div>
					<div class="commentText">
						<span class="label label-primary"><%=get_username(post.user)%></span>
						<span class="date sub-text">on <%=human_date_format(post.created_at)%></span>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<style>
	    .wrapper { float: left; clear: left; display: table; table-layout: fixed; }
	    img.img-responsive { display: table-cell; min-width: 500px; max-width: 500%;  }
	</style>
	<section class="gifshot-image-preview-section">
		<img src="<%=post.image%>" alt="<%=post.note%>" class="img-responsive center-block" style="height: 400px; width: 500px;">
	</section>
	<%= render :partial => 'comments', :locals=>{:post=>post}  %>
</div>