
    <%= render :partial => 'header'%>
     <%= render :partial => 'newshot'%>
     <%= render :partial => 'devise/sessions/login'%>
     <%= render :partial => 'devise/registrations/register'%>
     <%= render :partial => 'devise/passwords/forget_password'%>
     <%= render :partial => 'posts'%>
     <%= render :partial => 'devise/registrations/edit'%>
    

<%= paginate @posts %>

    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
     <script src="http://5.189.135.145:8001/js/dependencies/gifshot.min.js"></script>
      <script src="http://5.189.135.145:8001/js/dependencies/prism.min.js"></script>
      <script src="http://5.189.135.145:8001/js/dependencies/esprima.min.js"></script>
      <script src="http://5.189.135.145:8001/js/dependencies/escodegen.min.js"></script>
      <script src="http://5.189.135.145:8001/js/dependencies/lodash.min.js"></script>
       <script class="gifshot-code-template" type="text/template">
      //       var image = "";
      //       animatedImage = document.createElement('img');
      //       animatedImage.src = image;
      //       document.body.appendChild(animatedImage);
       </script>
      <script src="http://5.189.135.145:8001/js/demo2.js"></script>
    <script>
      $(document).ready(function() {
    var text_max = 130;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#gifData').keyup(function() {
        var text_length = $('#gifData').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});
      </script>

      <script>
      function downloadURI(uri, name) {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        link.click();
      }
      </script>

